* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
html, body { background-color: #000; height: 100%;}
.wrap {width: 100%; height: 100%; background: url('../img/background.jpg') repeat top left; position: relative;}
.wrap .gradient-tl {
	/*width: 500px; height: 500px; 
	background: linear-gradient(left top, #f6f6d7, transparent); 
	background: -webkit-linear-gradient(left top, #fff 15%, transparent 85%);
	opacity: .1;
	background-color: transparent;*/
	position: absolute;
	left: 0;
	top: 0;
	opacity: .3;
}
.wrap .gradient-br {position: absolute; bottom: 0; right: 0; opacity: .3;}
.wrap .bg-bl {position: absolute; left: 0; bottom: 0;}
.wrap .bg-tr {position: absolute; top: 0; right: 0;}
/*main-content*/
.wrap .container {width: 590px; height: 570px; position: absolute; top: 50%; margin-top: -300px; left: 50%; margin-left: -340px;}
.wrap .container .logo {position: absolute; width: 135px; height: 142px; padding-top: 25px; text-align: center;}
.wrap .container ul {position: absolute; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; z-index: 2; }
.wrap .container ul li {-webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out;}
.wrap .container ul:hover {-webkit-transform: scale(1.1); transform: scale(1.1);  z-index: 3;}
.wrap .container ul li {
	display: inline-block; 
	position: absolute; 
	width: 135px; 
	height: 142px; 
	padding-top: 25px; 
	text-align: center;
}
.wrap .container ul:hover li { background: url('../img/light.png') no-repeat 0 0; }
.wrap .container ul li img { }

/*position*/
.wrap .container ul.group1 {left: 450px; top: 240px;}
.wrap .container ul.group2 {left: 360px; top: 160px;}
.wrap .container ul.group3 {left: 180px; top: 320px;}
.wrap .container ul.group4 {left: 270px; top: 400px;}
.wrap .container ul.group5 {left: 450px; top: 400px;}
/*90*/
#datawrap .t-4 {top: -320px;}
#datawrap .t-3 {top: -240px;}
#datawrap .t-2 {top: -160px;}
#datawrap .t-1 {top: -80px;}
#datawrap .t1 {top: 0;}
#datawrap .t2 {top: 80px;}
#datawrap .t3 {top: 160px;}
#datawrap .t4 {top: 240px;}
#datawrap .t5 {top: 320px;}
#datawrap .t6 {top: 400px;}
#datawrap .t7 {top: 480px;}
/*85  evenrow *//* +90*/
#datawrap .even.c-2 {left: -180PX;}
#datawrap .even.c-1 {left: -90PX;}
#datawrap .even.c1 {left: 0;}
#datawrap .even.c2 {left: 90px;}
#datawrap .even.c3 {left: 180px;}
#datawrap .even.c4 {left: 270px;}
#datawrap .even.c5 {left: 360px;}
#datawrap .even.c6 {left: 450px;}
#datawrap .even.c7 {left: 540px;}
/*85*//* +90*/
#datawrap .c-3 {left: -225px;}
#datawrap .c-2 {left: -135px;}
#datawrap .c-1 {left: -45px;}
#datawrap .c1 {left: 45px;}
#datawrap .c2 {left: 135px;}
#datawrap .c3 {left: 225px;}
#datawrap .c4 {left: 315px;}
#datawrap .c5 {left: 405px;}
#datawrap .c6 {left: 495px;}
