* {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
html, body { background-color: #000; height: 100%; font-family: "microsoft yahei","arial, helvetica, sans-serif";}
.wrap {width: 100%; height: 100%; background: url('../img/background.jpg') repeat top left; position: relative; overflow: hidden;}

.wrap .hide {display: none;} /*隐藏*/
.wrap .gradient-tl {
	/*width: 500px; height: 500px; 
	background: linear-gradient(left top, #f6f6d7, transparent); 
	background: -webkit-linear-gradient(left top, #fff 15%, transparent 85%);
	opacity: .1;
	background-color: transparent;*/
	position: absolute;
	left: 0;
	top: 0;
	opacity: .3;
}
.wrap .gradient-br {position: absolute; bottom: 0; right: 0; opacity: .3;}
.wrap .bg-bl {position: absolute; left: 0; bottom: 0; width: 200px; height: 200px;}
.wrap .bg-bl img {width: 100%;}

.wrap .bg-tr {position: absolute; top: 0; right: 0;  width: 200px; height: 300px;}
.wrap .bg-tr img {width: 100%;}

/*hexagon*/
.hexagon { 
	position: absolute; 
	width: 72px; 
	height: 78px; 
	/*background: url(../img/eg_img_yellow.png) no-repeat top left;*/ 
	background-size: contain;
}
.hexagon-l {left: 0; top: -60px; }
.hexagon-r {left: 150px; top: 28px; }
.hexagon-l img { 
	width: 97%; 
}
.hexagon-r img { 
	width: 97%; 
}


/*main-content*/
/*动画部分设置*/
.wrap .container ul, .wrap nav ul, .wrap .bg-deco, footer {display: none;}
.logoRotate {
	-webkit-animation: logoRotate 3s linear infinite; 
	animation: logoRotate 3s linear infinite;
}

/*login*/
.container .login {position: absolute; right: -230px; top: -20px; }
.container .login ul li {display: block; text-align: center;}
.container .login ul a { background: url(../img/login.png) no-repeat; display: block; text-align: center; margin: 10px auto; float: left;}
.container .login ul .weibo {background-position: -3px 0; width: 34px; height: 26px;}
.container .login ul .facebook {background-position: -3px -44px; width: 34px; height: 26px;}
.container .login ul .twitter {background-position: -3px -89px; width: 34px; height: 26px;}
/*end login*/

.wrap .container {width: 590px; position: absolute; top: 50%; margin-top: -350px; left: 50%; margin-left: -340px;}
.wrap .container .logo {position: absolute; width: 117px; height: 119px; padding-top: 13px; padding-left: 1px; text-align: center;}
.wrap .container .decorate ul, .wrap .container .group-wrap ul {position: absolute; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; z-index: 2; }
.wrap .container .group-wrap ul {cursor: pointer;}
.wrap .container .decorate ul li, .wrap .container .group-wrap ul li {-webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; display: inline-block; position: absolute; }
.wrap .container .decorate ul li {width: 51px; height: 56px;}
.wrap .container .decorate ul li.large {width: 70px; height: 90px;}
.wrap .container .decorate ul li img {width: 100%;}
.wrap .container .group-wrap ul:hover {-webkit-transform: scale(1.1); transform: scale(1.1);  z-index: 3;}
.wrap .container .group-wrap ul li {
	width: 117px; 
	height: 119px; 
	padding-top: 13px; 
	padding-left: 1px;
	text-align: center;
}
.wrap .container .group-wrap ul li span {background: url('../img/index-icon.png') no-repeat; width: 83px; height: 93px; display: block; margin: 0 auto;}
.wrap .container .group-wrap ul:hover li { background: url('../img/light.png') no-repeat 0 0;}
/*填充图片*/
.wrap .container .group-wrap .group1 .aa span {background-position: -3px -8px;}
.wrap .container .group-wrap .group1 .bb span {background-position: -88px -8px;}  

/*position*/
.wrap .container ul.group1 {left: 450px; top: 240px;}
.wrap .container ul.group2 {left: 360px; top: 160px;}
.wrap .container ul.group3 {left: 180px; top: 320px;}
.wrap .container ul.group4 {left: 270px; top: 400px;}
.wrap .container ul.group5 {left: 450px; top: 400px;}
/*90*/
#datawrap .t-4 {top: -320px;}
#datawrap .t-3 {top: -240px;}
#datawrap .t-2 {top: -160px;}
#datawrap .t-1 {top: -80px;}
#datawrap .t1 {top: 0;}
#datawrap .t2 {top: 80px;}
#datawrap .t3 {top: 160px;}
#datawrap .t4 {top: 240px;}
#datawrap .t5 {top: 320px;}
#datawrap .t6 {top: 400px;}
#datawrap .t7 {top: 480px;}
/*85  evenrow *//* +90*/
#datawrap .even.c-2 {left: -180PX;}
#datawrap .even.c-1 {left: -90PX;}
#datawrap .even.c1 {left: 0;}
#datawrap .even.c2 {left: 90px;}
#datawrap .even.c3 {left: 180px;}
#datawrap .even.c4 {left: 270px;}
#datawrap .even.c5 {left: 360px;}
#datawrap .even.c6 {left: 450px;}
#datawrap .even.c7 {left: 540px;}
/*85*//* +90*/
#datawrap .c-3 {left: -225px;}
#datawrap .c-2 {left: -135px;}
#datawrap .c-1 {left: -45px;}
#datawrap .c1 {left: 45px;}
#datawrap .c2 {left: 135px;}
#datawrap .c3 {left: 225px;}
#datawrap .c4 {left: 315px;}
#datawrap .c5 {left: 405px;}
#datawrap .c6 {left: 495px;}

/*装饰区图片定位*/
.wrap .container .top-img ul {left: -60px; top: 120px;}
.wrap .container .bottom-img ul {right: -170px; top: 490px; z-index: 11;}

#datawrap .decorate .t-1 {top: -49px;}
#datawrap .decorate .t0 {top: 0;}
#datawrap .decorate .t1 {top: 49px;}
#datawrap .decorate .c-2 {left: -84px;}
#datawrap .decorate .even.c-2 {left: -56px;}
#datawrap .decorate .c-1 {left: -28px;}
#datawrap .decorate .c0 {left: 0;}
#datawrap .decorate .c1 {left: 28px;}
#datawrap .decorate .c2 {left: 56px;}
/*end position*/


/*nav*/
.wrap nav { position: relative; top: 77%; text-align: center; white-space: nowrap;}
.wrap nav ul li {display: inline-block; border-right: 1px solid #595855;}
.wrap nav ul li:last-child {border: none;}
.wrap nav ul li a {width: 210px; height: 80px; display: inline-block; line-height: 20px; padding-top: 10px; padding-bottom: 10px;}
.wrap nav ul li i {display: inline-block; background: url(../img/nav.png) no-repeat top left; width: 39px; height: 41px;}
.wrap nav ul li h3 {font-size: 12px; color: #95a5a6; letter-spacing: 2px;}

/*footer*/
.wrap footer {width: 100%; text-align: center; position: absolute; bottom: 30px; color: #8fc31f; font-size: 12px;}
.wrap footer ul {margin-top: 10px;}
.wrap footer ul li {display: inline;}
.wrap footer ul li a {padding: 0 10px; color: #8fc31f;}


/*弹窗区域*/
.popup-wrap {
	width: 836px; height: 520px; 
	background-color: rgba(70,70,70,.9); 
	position: absolute; left: 50%; top: 50%; 
	margin-left: -418px; margin-top: -300px; 
	z-index: 10;
	box-shadow: 8px 15px 25px #222;
	/*display: none;*/
}
.popup-wrap .sub-nav { position: absolute; top: -215px; left: -180px; z-index: 3;}
.popup-wrap .sub-nav ul li {position: absolute;}
.popup-wrap .sub-nav ul li.environment3 {left: 87px; top: 173px;}
.popup-wrap .sub-nav ul li.member3 {left: 145px; top: 50px;}
.popup-wrap .sub-nav ul li.position3 {right: 95px; top: 70px;}

.popup-wrap .close-btn {width: 61px; height: 52px; position: absolute; top: -25px; right: -5px; cursor: pointer;}
.popup-wrap .sub-title {width: 100%; position: absolute; top: -140px; text-align: center; }
.popup-wrap .sub-title i {display: block; background: url(../img/sub_title.png) no-repeat top left; width: 148px; height: 77px; margin: 0 auto;}

.popup-wrap .id-part {margin: 85px 50px;}
.popup-wrap .id-part h3 {background: url(../img/third_nav.png) no-repeat; width: 145px; height: 35px;}

.popup-wrap .hide {display: none;} /*显示*/
.popup-wrap .id-position h3 {background-position: -1px -1px; }
.popup-wrap .id-position ul {color: #fff; font-size: 16px;}
.popup-wrap .id-position ul li {list-style: disc; text-indent: 30px; line-height: 1.5; margin-top: 40px;}

.popup-wrap .id-member {margin: 85px 50px; }
.popup-wrap .id-member > p {color: #fff; font-size: 16px; margin: 20px auto; line-height: 1.5;}
.popup-wrap .id-member h3 {background-position: -1px -45px; }
.popup-wrap .id-member .member-wrap {text-align: center;}
.popup-wrap .id-member .member-block {display: inline-block; width: 150px; color: #fff; line-height: 1.5; margin: 0 15px;}
.id-member .member-block i {background: url(../img/avatar.png) no-repeat; width: 136px; height: 149px; display: block;}
.id-member .member-block h4 {font-size: 20px; color: #8fc31f;}
.id-member .member-block i.shouge {background-position: -3px -3px;}
.id-member .member-block i.jipinfei {background-position: -141px -3px;}
.id-member .member-block i.liuneng {background-position: -5px -157px;}
.id-member .member-block i.guo {background-position: -145px -158px;}

.popup-wrap .id-environment {margin: 0;}
/*slider*/
.device {
    width: 836px; height: 470px; 
    margin: 0 auto;
    position: relative;
}
.device .arrow {
	background: url('../img/arrows.png');
	background-repeat: no-repeat;
	position: absolute;
	width: 28px;
	height: 52px;
	display: inline-block;
}
.device .arrow-left {
	background-position: left top;
	top: 175px;
	left: 55px;
}
.device .arrow-right {
	background-position: left bottom;
	top: 175px;
	right: 55px;
}
.swiper-container {
	width: 622px;
	height: 414px;
	margin-top: 50px;
}
.swiper-slide {background-color: #000;}
.swiper-slide img {width: 100%;}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom:20px;
    width: 100%;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #c1ba1f;
    margin: 0 6px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #8fc31f;
}
/*slider end*/






/*animations*/
.rotate-1 {
	-webkit-animation: l-rotate 7s ease infinite; 
	animation: l-rotate 7s ease infinite;
}
.rotate-2 {
	-webkit-animation: r-rotate 5s ease infinite; 
	animation: r-rotate 5s ease infinite;
}

.rotate-3 {
	-webkit-animation: h-opacity 5s ease infinite; 
	animation: h-opacity 5s ease infinite;
}
.run {
	-webkit-animation: run 15s ease infinite; 
	animation: run 5s ease infinite;
}

@-webkit-keyframes l-rotate{
	0% {-webkit-transform: rotate(0deg);}
	30% {-webkit-transform: rotate(0deg);}
	45% {-webkit-transform: rotate(180deg);}
	100% {-webkit-transform: rotate(180deg);}
	/*60% {-webkit-transform: rotate(180deg);}
	100% {-webkit-transform: rotate(180deg);}*/
}

@-webkit-keyframes r-rotate{
	0% {-webkit-transform: rotate(0deg);}
	40% {-webkit-transform: rotate(0deg);}
	45% {-webkit-transform: rotate(90deg);}
	50% {-webkit-transform: rotate(90deg);}
	60% {-webkit-transform: rotate(180deg);}
	100% {-webkit-transform: rotate(180deg);}
}

@-webkit-keyframes h-opacity{
	0% {opacity: 1;}
	35% {opacity: 1;}
	40% {opacity: .5;}
	45% {opacity: .1;}
	100% {opacity: 1;}
}

@-webkit-keyframes run{
	0% {opacity: .5; -webkit-transform: translate(0,0) rotate(0deg) scale(.6);}
	15% {opacity: 1; -webkit-transform: translate(100px,-70px) scale(1); }
	35% {opacity: .8; -webkit-transform: translate(210px,-20px) rotate(90deg) scale(.8);}
	50% {opacity: .6; -webkit-transform: translate(170px,100px) rotate(90deg) scale(.7);}
	70% {opacity: .4; -webkit-transform: translate(20px,130px) rotate(180deg) scale(.6);}
	85% {opacity: .2; -webkit-transform: translate(-40px,50px) rotate(180deg) scale(.5);}
	100% {opacity: 0;-webkit-transform: translate(0,0) scale(.4) rotate(180deg);}
}

@-webkit-keyframes logoRotate{
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}












